/* myStyle.css */

header{
background-color: #aaddcc;
color: #000000;
text-align: center;
}
footer{
    background-color: #aaddcc;
    font: italic;
    color: #000000; 
    text-align: center;
}
#restname{
    font: italic 300%;
}

a {
    font-family: serif;
    font-weight: none;
    }

    a:link {
    color: rgb(0, 23, 128);
    text-decoration: none;
    }

    a:visited {
    color: rgb(255, 0, 106);
    }

    a:hover {
    color: #00c;
    font-weight: bold;
    }

    a:active {
    font-weight: bold;
    }
    tr.italic{
        font-style: italic;
    }